{{#if carrito.length }}
    <button class="btn__cerrarCarrito" onclick="carritoController.btnCerrarCarrito()"><i class="fas fa-times-circle"></i></button>
 
    <h3>Carrito:</h3>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Cantidad</th>
            <th>Envio</th>
            <th>Acción</th>
        </tr>

        {{#each carrito}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td>{{marca}}</td>
            <td>
                <img style="display:block; margin: 0 auto;" src="{{foto}}" width="50" alt="{{nombre}}">
            </td>
            <td>{{cantidad}}</td>
            
            {{#if envio}}
                <td>Si</td>
            {{else}}
                <td>No</td>
            {{/if}}
            
            <td>
                <button onclick="carritoController.borrarProductoCarrito({{id}})" class="btn__borrarDelCarrito"><img src="../img/svg/99747_recycle_bin_full_icon.png" alt=""></button>
            </td>
        </tr>
         {{/each}}
    </table>
    <h4>Total: $</h4>
    <button class="btn__vaciarCarrito" onclick="carritoController.btnVaciarCarrito()" >Vaciar carrito</button>
    <button class="btn__enviarCarrito" onclick="carritoController.enviarCarrito()">Enviar</button>
{{else}}
    <button class="btn__cerrarCarrito" onclick="carritoController.btnCerrarCarrito()"><i class="fas fa-times-circle"></i></button>
    <img src="../img/svg/9021613_smiley_sad_bold_icon.svg" alt="Carita triste" class="carrito-img">
    <h2>Oh no! Tu carrito esta vacio </h2>
    <button class="btn__irAAgregarCarrito" onclick="carritoController.btnCerrarCarrito()">Ir a agregar productos</button>
{{/if}}